.about_con {
    overflow: hidden;
    width   : 100vw;
    height  : 40vh;

}

.heading_about {
    position : relative;
    top      : 30%;
    left     : 20%;
    color    : #fff;
    font-size: 500%;
}

.pera {
    width: 94vw;

    margin: 4rem auto;
}

.pera_1 {
    position  : relative;
    text-align: center;

}

@media screen and (max-width: 480px) {
    .test {
        display: flex;
    }
}